In [5]:
import json
import pandas as pd

In [ ]:
# Converting the dict of numbered keys into a list of problem entries
problems = list(data.values())

#first problem
problems[0]

{'Grade': ' 6C',
 'IsBenchmark': True,
 'Moves': [{'Description': '16F', 'IsEnd': True, 'IsStart': False},
  {'Description': '6H', 'IsEnd': False, 'IsStart': False},
  {'Description': '2G', 'IsEnd': False, 'IsStart': False},
  {'Description': '10B', 'IsEnd': False, 'IsStart': False},
  {'Description': '7G', 'IsEnd': False, 'IsStart': False},
  {'Description': '1J', 'IsEnd': False, 'IsStart': True}],
 'Name': 'TIRITI',
 'Sended': False}

In [12]:
df = pd.DataFrame(problems)
df.head()

,Grade,IsBenchmark,Moves,Name,Sended
0,6C,True,"[{'Description': '16F', 'IsEnd': True, 'IsStar...",TIRITI,False
1,6C,True,"[{'Description': '16F', 'IsEnd': True, 'IsStar...",TIRITI,False
2,7C,True,"[{'Description': '16F', 'IsEnd': True, 'IsStar...",HOLD MY BLACKBERRY,False
3,6C,True,"[{'Description': '16K', 'IsEnd': True, 'IsStar...",SPRING CONDITIONS 3,False
4,7A+,False,"[{'Description': '16F', 'IsEnd': True, 'IsStar...",WINGSPAN,False

In [13]:
df['Grade'].value_counts()

Grade
 6B+                  235
 7A                   209
 6C+                  205
 6C                   165
 7A+                  154
 7B+                   70
 7B                    66
NA                     49
 7C                    40
 7C+                   13
 6c                     7
 8A                     5
                        4
 6c+                    2
 GRAZ                   1
 6C_                    1
 YO                     1
 DARK AND HANDSOME      1
 8B                     1
 6Cc+                   1
 8A+                    1
 NEBBIAE VII            1
 6C.                    1
 SKWAMA BAD             1
 | AM LEGEND            1
 IT'S SHARP             1
 MEAN                   1
 SMTMS Y DN'T           1
 JUMP                   1
 L                      1
 SIMON                  1
6C                      1
 ¢ 6B+                  1
 FIRST SERVED           1
 7c+                    1
 7At                    1
7C                      1
7A                      1
Name: count, dtype: int64

In [14]:
df[df['Grade'].isin(['6C', '6B+', '6B'])]

,Grade,IsBenchmark,Moves,Name,Sended
809,6C,False,"[{'Description': '16K', 'IsEnd': True, 'IsStar...",ST,False

In [15]:
df['Moves'][0]

[{'Description': '16F', 'IsEnd': True, 'IsStart': False},
 {'Description': '6H', 'IsEnd': False, 'IsStart': False},
 {'Description': '2G', 'IsEnd': False, 'IsStart': False},
 {'Description': '10B', 'IsEnd': False, 'IsStart': False},
 {'Description': '7G', 'IsEnd': False, 'IsStart': False},
 {'Description': '1J', 'IsEnd': False, 'IsStart': True}]

In [16]:
# Create a new column with just the hold names (like ['16F', '6H', ...])
df['HoldList'] = df['Moves'].apply(lambda moves: [m['Description'] for m in moves])
df[['Name', 'Grade', 'HoldList']].head()

                  Name Grade                                  HoldList
0               TIRITI    6C                [16F, 6H, 2G, 10B, 7G, 1J]
1               TIRITI    6C                [16F, 6H, 2G, 10B, 7G, 1J]
2   HOLD MY BLACKBERRY    7C                     [16F, 7K, 2G, 9I, 1K]
3  SPRING CONDITIONS 3    6C  [16K, 6H, 2D, 14J, 9D, 11J, 2K, 14D, 1J]
4             WINGSPAN   7A+                    [16F, 6H, 2D, 10B, 1D]

In [17]:
from collections import Counter

# Flatten all hold lists into one big list
all_holds = [hold for sublist in df['HoldList'] for hold in sublist]

# Count how many times each hold is used
hold_counts = Counter(all_holds)

# Show the 10 most common holds
hold_counts.most_common(10)

[('1K', 839),
 ('1J', 597),
 ('16F', 588),
 ('16K', 434),
 ('5K', 422),
 ('1G', 387),
 ('2G', 344),
 ('7G', 305),
 ('6H', 291),
 ('9D', 290)]

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
hold_matrix = mlb.fit_transform(df['HoldList'])

# Create a DataFrame from the hold matrix
hold_df = pd.DataFrame(hold_matrix, columns=mlb.classes_)

hold_df['Grade'] = df['Grade']
hold_df['Name'] = df['Name']
hold_df.head()

,10A,10B,10C,10D,10E,10F,10G,10H,10I,10J,...,9A,9D,9F,9G,9H,9I,9J,9K,Grade,Name
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6C,TIRITI
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6C,TIRITI
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,7C,HOLD MY BLACKBERRY
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,6C,SPRING CONDITIONS 3
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7A+,WINGSPAN

In [21]:
hold_df.shape

(1248, 131)

In [ ]:
df.shape 
hold_df.shape  
df['HoldList'].isnull().sum()

np.int64(0)

In [ ]:
# Keep only rows where HoldList is a valid non-empty list
df = df[df['HoldList'].apply(lambda x: isinstance(x, list) and len(x) > 0)]

In [23]:
df[df['HoldList'].apply(lambda x: not isinstance(x, list))]

Empty DataFrame
Columns: [Grade, IsBenchmark, Moves, Name, Sended, HoldList]
Index: []

In [ ]:
hold_matrix = mlb.fit_transform(df['HoldList'])
hold_df = pd.DataFrame(hold_matrix, columns=mlb.classes_)

hold_df['Grade'] = df['Grade'].values
hold_df['Name'] = df['Name'].values

hold_df.shape

(1248, 131)

In [ ]:
len(data)

1248

In [28]:
df[['Name', 'Grade', 'HoldList']].head()

                  Name Grade                                  HoldList
0               TIRITI    6C                [16F, 6H, 2G, 10B, 7G, 1J]
1               TIRITI    6C                [16F, 6H, 2G, 10B, 7G, 1J]
2   HOLD MY BLACKBERRY    7C                     [16F, 7K, 2G, 9I, 1K]
3  SPRING CONDITIONS 3    6C  [16K, 6H, 2D, 14J, 9D, 11J, 2K, 14D, 1J]
4             WINGSPAN   7A+                    [16F, 6H, 2D, 10B, 1D]

In [ ]:
hold_df.shape

(1248, 131)

In [30]:
hold_df.iloc[0]  # One route's full vector

10A           0
10B           1
10C           0
10D           0
10E           0
          ...
9I            0
9J            0
9K            0
Grade        6C
Name     TIRITI
Name: 0, Length: 131, dtype: object

In [31]:
# Separate holds by role: start, end, middle
def extract_hold_roles(moves):
    start = [m['Description'] for m in moves if m['IsStart']]
    end = [m['Description'] for m in moves if m['IsEnd']]
    middle = [m['Description'] for m in moves if not m['IsStart'] and not m['IsEnd']]
    return start, end, middle

df[['StartHolds', 'EndHolds', 'MiddleHolds']] = df['Moves'].apply(
    lambda moves: pd.Series(extract_hold_roles(moves))
)

In [32]:
df[['Name', 'Grade', 'StartHolds', 'EndHolds', 'MiddleHolds']].head()

,Name,Grade,StartHolds,EndHolds,MiddleHolds
0,TIRITI,6C,[1J],[16F],"[6H, 2G, 10B, 7G]"
1,TIRITI,6C,[1J],[16F],"[6H, 2G, 10B, 7G]"
2,HOLD MY BLACKBERRY,7C,[1K],[16F],"[7K, 2G, 9I]"
3,SPRING CONDITIONS 3,6C,[1J],[16K],"[6H, 2D, 14J, 9D, 11J, 2K, 14D]"
4,WINGSPAN,7A+,[1D],[16F],"[6H, 2D, 10B]"

In [33]:
df['HoldList'] = df['StartHolds'] + df['MiddleHolds'] + df['EndHolds']

In [34]:
hold_matrix = mlb.fit_transform(df['HoldList'])
hold_df = pd.DataFrame(hold_matrix, columns=mlb.classes_)
hold_df['Grade'] = df['Grade'].values
hold_df['Name'] = df['Name'].values

In [35]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [36]:
# Example: user wants a route with these holds
user_holds = ['6H', '2G', '1J']

In [37]:
# Create binary vector matching mlb.classes_ layout
query_vector = np.zeros(len(mlb.classes_))

for i, hold in enumerate(mlb.classes_):
    if hold in user_holds:
        query_vector[i] = 1

In [ ]:
feature_matrix = hold_df.drop(columns=['Grade', 'Name'])

# Calculate cosine similarity
similarities = cosine_similarity([query_vector], feature_matrix)[0]

In [39]:
# Get top 5 most similar route indices
top_indices = similarities.argsort()[-5:][::-1]

# Show results
hold_df.iloc[top_indices][['Name', 'Grade']]

                    Name Grade
133  HER COMES THE QUEEN   6C+
925           URBAN WALL    6C
302           BLACK MONO    7A
1                 TIRITI    6C
38              ON BLACK   6B+

In [ ]:
# User input 
user_holds = ['6H', '2G', '1J']
allowed_grades = ['6C', '6C+']  # only adjacent grades

# Filter dataset
filtered_df = hold_df[hold_df['Grade'].isin(allowed_grades)].reset_index(drop=True)

# Build binary query vector 
query_vector = np.zeros(len(mlb.classes_))
for i, hold in enumerate(mlb.classes_):
    if hold in user_holds:
        query_vector[i] = 1

#Calculate similarity
feature_matrix = filtered_df.drop(columns=['Grade', 'Name'])
similarities = cosine_similarity([query_vector], feature_matrix)[0]

# Return top 5 matches
top_indices = similarities.argsort()[-5:][::-1]
filtered_df.iloc[top_indices][['Name', 'Grade']]

  Name Grade
0   ST    6C

In [41]:
print(filtered_df.shape)
print(similarities[top_indices])

(1, 131)
[0.21821789]